.mainbox {
	position: absolute;
	width: 100%;
	z-index: 999;
	background-position: center;
	text-align: center;
}
.mainbox .title-icon{
	background-image: url(../img/logo%20(1).png);
	position: absolute;
    left:231px;
	top:0px;
	z-index:999999;
}
.mainbox .honor{
	width:30px;
	height:30px;
	position: absolute;
	left:1327px;
	top:23px;
	background-image:url(../img/nav_search.png);
	background-repeat: no-repeat;
}
.guide {

	background: rgba(0, 0, 0, 0.8);
	height: 84px;
}

.img-logo {
	position: absolute;
	z-index: 4;
	left: 150px;
	top: 40px;
	opacity: 1;
}

.img-logo:hover~.extend {
	height: 300px;
}

.guide ul {
	width: 900px;
	list-style: none;
	margin: 0 auto;

}

.guide ul li {
	float: right;
}

.guide ul li a {
	display: inline-block;
	height: 73px;
	width: 110px;
	line-height: 32px;
	text-decoration: none;
	font-family: 微软雅黑;
	font-size: 18px;
	color: #c9c9dd;
	padding: 0 8px;
	padding-top: 10px;

}

.guide ul li a font {
	font-size: 10px;
	color: #c9c9dd;
}

.guide ul li:hover a font {
	color: rgb(243, 194, 88);
}

.guide ul li:hover a {
	background-image: linear-gradient(rgba(243, 194, 88, 0) 1%, rgba(243, 194, 88, 0.3) 96%, rgba(243, 194, 88, 1) 3%);
	color: rgb(243, 194, 88);
}

.red_icon {
	width: 18px;
	height: 18px;
	border-radius: 20px;
	background-color: red;
	color: white;
	text-align: center;
	border: rgba(0, 0, 0, 0.3) solid 1px;
	display: inline-block;
}

.extend {
	position: absolute;
	width: inherit;
	height: 0;
	/* visibility: 0; */
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	transition: all 0.5s;
}

.extend:hover {
	height: 300px;
}

.guide:hover+.extend {
	/* visibility: 1; */
	height: 300px;
	/* display: flex; */
	transition: all 0.5s;
}

.extend table {
	height: 0;
	margin-left: 360px;
	padding-top: 30px;
	color: #c9c9dd;
	font-size: 14px;
	position: relative;
	left: 78px;
	top: -24px;
}

.extend td {
	align-items: center;
	width: 122px;
	height: 30px;
	margin: 0px;

}

.extend td a {
	text-decoration: none;
	color: rgb(201, 201, 221);
}

.extend td a:hover {
	text-decoration: underline;
	color: rgb(238, 203, 128);
}

